/* CSS */

/* Map widget is 100% the height of the viewport (vh), minus 140px
DO I NEED !important? */

img {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
}

h1 {
    color: black;
}